body {
  margin: 0; /* Removes margin around the body */
  padding: 0; /* Removes padding around the body */
}

.main-container {
  padding: 0; /* Removes padding inside the main container */
  margin: 0; /* Removes margin inside the main container */
  width: 100vw; /* Ensures the container spans the full width of the viewport */
  max-width: 100%; /* Prevents any default max width */
  overflow-x: hidden; /* Prevents horizontal overflow */
}
